@font-face {
    font-family: 'Roca'; 
    src: url('fonts/Roca Thin.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Area';
    src: url('fonts/Area Normal Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-color: #F5F5DC; */
    background: url("https://image-processor-storage.s3.us-west-2.amazonaws.com/images/a3627d6c1e59636360b65d5707db2e61/abstract-rose-quarz-pink-fusia-background.jpg");
    background-size: cover;
    text-align: center;
}

header {
    font-family: "Roca", sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blogtitle {
    color: #B07A8C;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

#article-title {
    font-family: "Roca", sans-serif;
    font-weight: bold;
    color: #B07A8C;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.content-container {
    font-family: "Area", sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin: 20px auto;
    max-width: 800px;
    padding: 30px;
    background-color: #fff3f6;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#sources {
    font-family: "Area", sans-serif;
    margin: 0px;
}

.back-link {
    display: block;
    color: black;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    color: #B07A8C;
}

img {
    height: 60%;
    width: 60%;
}

/* header styling */ 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-style: italic;
}

a:hover {
    color: #77555f;
}